.app-container {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
  }
  
  .app-header {
	background-color: #ffc107;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .app-logo {
	max-width: 200px;
  }
  
  .contact-button {
	background-color: rgb(91, 150, 213);
	/* color: rgb(33, 61, 41); */
	padding: 10px 20px;
	border-radius: 20px;
	text-align: center;
	font-weight: bold;
	border: 0;
  }
  
  .course-list {
	background-color: #f1f1f1;
	padding: 20px 10px;
  }
  
  .course {
	background-color: #fff;
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	border-radius: 10px;
	height: 130px;
	display: flex;
  }
  
  .course-image {
	width: 100px;
	margin-right: 20px;
  }
  
  .course-info {
	flex: 1;
  }
  
  .course-title {
	color: #333;
	margin-bottom: 10px;
	margin-top: 5px;
  }
  
  .course-description {
	color: #777;
  }
  